<html>
  <head>
    <title>{{ title }}</title>
    <style>

a:hover {
  color: lightblue;
}

    </style>
  </head>
  <body>
    <div class="welcome">
      Welcome, <b>{{ escape(username) }}</b>! Have a nice day!
    </div>

    <ul class="projects">
      {% for project in projects['projects'] %}
        <li id="{{ escape(project) }}" class="project">
          <h2>{{ escape(projects['projects'][project]['name']) }}</h2>
    
          <ul class="project_services">
            {% for project_service in projects['projects'][project]['services'] %}
              <li id="{{ escape(project + "_" + project_service) }}" class="project_service">
                <a href="{{ escape("/services/launcher/" + project + "/" + project_service) }}" target="_blank">
                  {{ escape(projects['projects'][project]['services'][project_service]['name']) }}
                </a>
              </li>
            {% end %}
          </ul>
        </li>
      {% end %}
    </ul>
  </body>
</html>

